* {
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
}

.flex {
    display: flex;
    flex-direction: row;
}

.header {
    padding: 20px;
    background-color: blue;
}

.header__logo {
    margin-left: 190px;
}

.header__registration {
    width: 100%;
    justify-content: flex-end;
}

.header__registration__button {
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 600;
    background-color: white;
    border-radius: 18px;
    border-color: transparent;
}

.header__registration__button:first-child {
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

.header__registration__button:not(:first-child) {
    margin-left: 30px;
}

.section {
    background-color: blue;
}

.section__title {
    color: white;
    font-size: 130px;
    font-weight: 800;
    margin-left: 190px;
}

.section__about {
    font-size: 35px;
    font-weight: 100;
    margin: 10px 0 0 190px;
    color: white;
}

.section__registration-button {
    margin: 100px 0 100px 190px;
    padding: 15px 20px;
    font-size: 28px;
    font-weight: 600;
    background-color: #f19d9a;
    color: white;
    border-radius: 35px;
    border-color: transparent;
}

.section__choos–µ-list {
    width: 80%;
    margin: 0 auto 30px auto;
    border: 10px solid #f19d9a;
    border-radius: 65px;
    background-color: white;
}

.choose-list__link {
    text-align: center;
    width: calc(100% / 3);
    padding: 25px 20px;
    text-decoration: none;
    font-size: 20px;
}

.choose-list__link:not(:last-child) {
    border-right: 10px solid #f19d9a;
}

.section__check-price-container {
    background-color: white;
    padding-bottom: 250px;
    justify-content: center;
}

.check-price-container__button {
    padding: 20px 50px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 100;
    background-color: #f19d9a;
    color: white;
    border-radius: 50px;
    border-color: transparent;
}